[general]
state_file = /var/awslogs/state/agent-state

[/var/log/cloud-init-output.log]
log_group_name = {{ cloudwatch_log_group_name }}
log_stream_name = {instance_id}-bootstrap
file = /var/log/cloud-init-output.log
